.vscode/
.claude/
.codex
.sample/
.gitignore
.mcp.json
CLAUDE.md
bun.lock
tsconfig.json
justfile
src/
node_modules/
!node_modules/better-sqlite3/
!node_modules/better-sqlite3/**
!node_modules/bindings/
!node_modules/bindings/**
!node_modules/file-uri-to-path/
!node_modules/file-uri-to-path/**
