.vscode/
.claude/
.codex
.sample/
.gitignore
.mcp.json
AGENT.md
CLAUDE.md
bun.lock
package-lock.json
tsconfig.json
*.vsix
justfile
src/
node_modules/
!node_modules/better-sqlite3/
!node_modules/better-sqlite3/**
!node_modules/bindings/
!node_modules/bindings/**
!node_modules/file-uri-to-path/
!node_modules/file-uri-to-path/**
